.navbar{
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  max-width: 600px;
  height: 50px;
  margin: auto;
}
.title{
  color: #fff;
  margin-left: 10px;
  font-weight: 400;
  font-size: 18px;
}
.logo{
  width: 30px;
  height: 25px;
}